@font-face{
    font-family: Greater Teory;
    src: url(GreaterTheory.otf)
}
@font-face{
    font-family: internet;
    src: url(lt_internet.zip)
}
#p1{
    font-family: Greater Teory;
    font-size: 22px;
    color:white;
}
#p2{
    font-family: Greater Teory;;
    font-size: 26px;
    color:rgb(255, 86, 10);
}
#p3{
    font-family: Greater Teory;;
    font-size: 22px;
    color: white;
}
footer{
    height: 290;
    width: 850px;
    border: 2px solid rgb(255, 86, 10);
    color: rgb(255, 86, 10);
}
#f2{
    font-family: internet;
    font-size: 20px;
    color:white;
}